body{
  /* background-color: rgb(36, 39, 90); */
  background-color: var(--bs-gray-dark);
  overflow-x: hidden;
  width: 100vw;
}

.section{
  min-height:100vh;
}

.hr{
  opacity: 1;
  border: 2px solid var(--bs-danger);
  border-radius: 1rem;
}


.hero_img{
  width: 60%;
  display: flex;
  justify-content: center;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 5px;
  img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    translate: -1rem -1rem;
  }
}



.hero_icons{
  font-size: 2.6rem;
  a{
    margin: 1rem;
    color: white;
    transition: .3s;
    &:hover{
      margin: 1rem;
      color: rgb(0, 0, 0);
    }
  }
}



.my-card{
  .card-img{
    width: 100%;
    border-radius: 1rem;
    height: 200px;
    object-position: center;
    object-fit: cover;
  }
}


.my-btn{
  text-decoration: none;
  width: 140px;
  border: 1px white solid;
  cursor: pointer;
  color: white;
  font-size: large;
  padding: 0.4rem 1rem;
  border-radius: .3rem;
  background: rgb(9,9,121);
  background: linear-gradient(to right,rgb(255, 0, 238), rgb(0, 242, 255), rgb(255, 0, 238));
  background-position: 0px 0px;
  background-size: 280px;
  transition: background-position .4s, box-shadow .4s;
  box-shadow: 0px 1px 2px rgb(0, 0, 0);
  &:hover{
    transition: background-position .4s, box-shadow .4s;
    background-position: 140px 0px;
    box-shadow: 0px 2px 10px rgb(0, 0, 0);
    color: white;
  }
}




/* pading loading */
#page-loading{
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 20000;
  background-color: var(--bs-gray-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

/* nice loading */
/* https://loading.io/css/ */
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
